body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: oblique;
   font-size: large;
   color: blue;
}
#master{
    margin:auto;
    width: 55%;
}
h1{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
}

#section1 img{
width: 300px;
float: left;
margin-right: 1rem;
;
}
#section1{

margin-bottom: 6rem;

}

#section2 img{
width: 300px;
float: right;
margin-left: 1rem;
}
#section2{

margin-bottom: 6rem;
}

#section3 img{
width: 300px;
float: left;
margin-right: 1rem;
}
#section3{

margin-bottom: 6rem;
}

#section4 img{
width: 300px;
float: right;
margin-left: 1rem;
}

#section4{
    margin-bottom: 5rem;
}

#master a{
    text-decoration: none;
    color: blueviolet;
    
}

#contact{
    font-family: Georgia;
margin:auto;
width: 30%;
line-height: 2;
padding-bottom: 1rem;
}

.btn {
background: #11181c;
  background-image: -webkit-linear-gradient(top, #11181c, #62696e);
  background-image: -moz-linear-gradient(top, #11181c, #62696e);
  background-image: -ms-linear-gradient(top, #11181c, #62696e);
  background-image: -o-linear-gradient(top, #11181c, #62696e);
  background-image: linear-gradient(to bottom, #11181c, #62696e);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Georgia;
  color: #ad11ad;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  left:5rem;

  
}

.btn:hover {
  background: #8e979c;
  background-image: -webkit-linear-gradient(top, #8e979c, #3498db);
  background-image: -moz-linear-gradient(top, #8e979c, #3498db);
  background-image: -ms-linear-gradient(top, #8e979c, #3498db);
  background-image: -o-linear-gradient(top, #8e979c, #3498db);
  background-image: linear-gradient(to bottom, #8e979c, #3498db);
  text-decoration: none;
}

a{
   position: relative;
   left: 26rem;
}
