body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-color: blueviolet;
    
}

p{
    font-style: italic;
    
}
a{
    color: aquamarine;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    
}